RefundHandlingWeb/Service References/ARSReference/ARS3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/ARSLayer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ARSLayer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://ars.hr-zcs.com/ARS.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Transaction">
    <xs:sequence>
      <xs:element minOccurs="0" name="InitialAntwort" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Transaction" nillable="true" type="tns:Transaction" />
  <xs:complexType name="ArrayOfComponentMessage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ComponentMessage" nillable="true" type="tns:ComponentMessage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfComponentMessage" nillable="true" type="tns:ArrayOfComponentMessage" />
  <xs:complexType name="ComponentMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="Answer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Query" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="step" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ComponentMessage" nillable="true" type="tns:ComponentMessage" />
</xs:schema>